---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

* { box-sizing: border-box; }

// Our variables
$base-font-family: "DejaVu Sans ExtraLight", Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$padding:          8px;
$border-thickness: 1px;

$device-palm:      48em;
$device-laptop:    800px;

@import "colors";

@font-face {
	font-family: "DejaVu Sans ExtraLight";
	src: local("DejaVu Sans ExtraLight"),
		url("{{site.baseurl}}/fonts/DejaVuSans-ExtraLight.ttf");
}

@font-face {
	font-family: "DejaVu Sans Mono";
	src: local("DejaVu Sans Mono"),
		url("{{site.baseurl}}/fonts/DejaVuSansMono.ttf");
}


// Using media queries with like this:
// @include media-query($palm) {
//	 .wrapper {
//		padding-right: $spacing-unit / 2;
//		padding-left: $spacing-unit / 2;
//	 }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
