[submodule "just-encrypt"]
	path = just-encrypt
	url = https://github.com/HarryCutts/just-encrypt.git
[submodule "sp2015"]
	path = sp2015
	url = https://github.com/HarryCutts/smallpeice-2015-presentation.git
