// Color Scheme //
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$sidebar-color:    #3f3f3f;
$sidebar-text-color: #fdfdfd;
$icon-color: $grey-color;

$left-column-color: #eaeaea;
