// Color Scheme //
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      hsl(223deg, 75%, 55%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$sidebar-color:    #3f3f3f;
$sidebar-text-color: #fdfdfd;
$sidebar-brand-color: lighten($brand-color, 20%);
$sidebar-borders-color: lighten($sidebar-color, 15%);
$icon-color: $grey-color;

$left-column-color: #eaeaea;
