---
layout: bare
---

<div class="pure-g">
	<header class="sidebar pure-u-1 pure-u-md-1-5">
		<a href="{{ site.baseurl }}/">{{ site.title }}</a>

		<nav>
			{% for page in site.pages %}
				{% if page.title %}
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
	</header>

	<div class="pure-u-1 pure-u-md-4-5 page-content">
		<div class="wrapper">
			{{ content }}

		</div>
		{% include footer.html %}
	</div>
</div>
