---
layout: bare
---

<div>
	<header class="sidebar">
		<a class="skip-link" href="#main">Skip to content »</a>
		<img class="mugshot" src="{{ site.baseurl }}/img/profile.jpg">
		<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<div class="tagline">{{ site.tagline }}</div>

		<nav>
			{% for menu_page in site.pages %}
				{% if menu_page.title and menu_page.show_in_menu %}
				<a class="page-link{% if menu_page.url == page.url %} selected{% endif %}" href="{{ menu_page.url | prepend: site.baseurl }}">
					{{ menu_page.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>

		<ul class="social-media-list">
			{% if site.mailhide_url %}
			<li>
				<i class="fa fa-envelope"></i>
				<a href="{{ site.mailhide_url }}">
					Email
				</a>
			</li>
			{% endif %}

			{% if site.keybase_username %}
			<li>
				<i class="fa fa-key"></i>
				<a href="https://keybase.io/{{ site.keybase_username }}">
					KeyBase
				</a>
			</li>
			{% endif %}

			{% if site.github_username %}
			<li>
				<i class="fa fa-github-alt"></i>
				<a href="https://github.com/{{ site.github_username }}">
					GitHub
				</a>
			</li>
			{% endif %}

			{% if site.twitter_username %}
			<li>
				<i class="fa fa-twitter"></i>
				<a href="https://twitter.com/{{ site.twitter_username }}">
					Twitter
				</a>
			</li>
			{% endif %}
		</ul>
	</header>

	<div id="main" class="page-content">
		{{ content }}
	</div>
</div>
